/* page styling */


body {
	background-image: -moz-linear-gradient(top, rgba(0, 0, 0, 0.05), rgba(0, 0, 0, 0)), url(images/bg01.png);
    background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.05), rgba(0, 0, 0, 0)), url(images/bg01.png);
    background-image: linear-gradient(top, rgba(0, 0, 0, 0.05), rgba(0, 0, 0, 0)), url(images/bg01.png);
    background-color: #f7f7f7;
    background-position: top left, top left;
    background-repeat: repeat-x, repeat;
	scroll-behavior: smooth;
}

/* navbar */
#titleLogo {
	font-family: "Oleo Script";
	background: #ff4486;
}

@media all and (min-width: 736px) {
	#titleLogo {
		font-size: 2.5rem !important;
	}	
}

.tile.notification.is-child.has-background-white-bis.has-maribelTiles {
	padding: 4rem;
}

.has-heavy-weight {
	font-weight: 800  !important;
}

@media (max-width: 768px) {
	.has-tile-padding {
		padding: 1.5rem !important;
	}

}

@media (min-width: 768px) {
	.has-tile-padding {
		padding: 3.5rem !important;
	}

}

.has-open-sans {
	font-family: 'Open Sans', sans-serif;
}

.navSelect {
	font-family: 'Open Sans', sans-serif;
	font-weight: 800;
	color: #696969 !important;
	background-color: inherit !important;
}

a.navSelect:hover:not(.is-nav-active) {
	-moz-transition: background-color .25s ease-in-out;
    -webkit-transition: background-color .25s ease-in-out;
    -ms-transition: background-color .25s ease-in-out;
   	transition: background-color .25s ease-in-out !important;
	background-color: white !important;
}

.is-nav-active {
	background-color: #444 !important;
    color: #fff !important;
}


/* intro */
/* remove inline styling for text from html and put here with good class tags */

/* input fields */
.column.has-vertically-aligned-content {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.object {
	width: 100% !important;
	height: 500px !important;
	color: red !important; 

}

.is-blue {
	background-color: #44c7ff !important;
	color: white !important;
}

.inputTitle {
	padding-right: 7px !important;
	font-family: 'Open Sans', sans-serif;
}

.slider {
	overflow-y: hidden;
	max-height: 500px; /* approximate max height */

	transition-property: all;
	transition-duration: .5s;
	transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
}

html {
	scroll-behavior: smooth;
    speed: 50;
}

/* For zooming on titles and headings. */

.zoom {
	transition: transform .2s !important;
	/* Animation */
  }

  .zoom:hover {
	transform: scale(1.16) !important;
	/* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
  }

.has-15px-margins {
	margin: 15px;
}

.has-small-margin-left {
	margin-left: 6px;
}

.has-small-margin-top {
	margin-top: 2.75rem !important;
	/* margin-bottom: 2rem !important; */
}

#citations {
	text-decoration: none !important;
}

#worksCited {
	display: none;
}

.is-pink {
	color: #ff4486
}

.fadeOut {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s 10s, opacity 0.4s linear;
}

.fadeIn {
	visibility: hidden;
  opacity: 0;
  -webkit-transition: opacity 2s ease-in;
  -moz-transition: opacity 2s ease-in;
  -o-transition: opacity 2s ease-in;
  -ms-transition: opacity 2s ease-in;
  transition: opacity 2s ease-in;
}
