#titleLogo {
	font-family: "Oleo Script";
	background: #ff4486;
}

/* Why can't I just target the body here. */
.navbar-item {
	font-family: 'Open Sans', sans-serif;
	color: #696969;
	background-color: inherit;
}

#navBarSelect {
	color: #696969;
	background-color: inherit;
}

body {
	background-image: -moz-linear-gradient(top, rgba(0, 0, 0, 0.05), rgba(0, 0, 0, 0)), url(images/bg01.png);
    background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.05), rgba(0, 0, 0, 0)), url(images/bg01.png);
    background-image: linear-gradient(top, rgba(0, 0, 0, 0.05), rgba(0, 0, 0, 0)), url(images/bg01.png);
    background-color: #f7f7f7;
    background-position: top left, top left;
    background-repeat: repeat-x, repeat;
	background-size: 100% 30em, auto;
	color: #696969;
	
}